<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Main admin page</h1>

    <main>
        Hello
    </main>

    <%- include('../includes/end.ejs') %>