<footer>
    <hr>
    <% if (user) { %>
    Zalogowano jako <%= user.email %>
    <% if (user.isSuperuser) { %>
    <div>Uprawnienia administratora</div>
    <% } %>
    <% } %>
</footer>

<script src="/js/main.js"></script>
</body>

</html>