<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <% if (user.isSuperuser) { %>
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li>
                <a href="/admin/add-post">Dodaj post</a>
            </li>
            <% } %>
            <% if (!isAuthenticated) { %>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/auth/register">Register</a>
            </li>
            <% } else { %>
            <li>
                <form action="/auth/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>